.popupduble__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    padding-bottom: 9px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-left: 36px;
    margin-bottom: 26px;
}

@media (max-width:470px){
    .popupduble__input {
        width: 238px;
        margin-left: 18px;
    }
}